$blue: #0060DF;
$grey: #79797B;

$medium: 640px;
$large: 1006px;

body {
  font-family: 'Lato', serif;
}

#index {
  margin: 3rem 3rem;
  font-family: 'Lato', sans-serif;
  text-align: justify;

  @media screen and (min-width: $large) {
    width: 1200px;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: $blue;
    margin-bottom: 0;
  }
  
  .top {

    &-header {
      
      @media screen and (min-width: $large) {
        justify-content: left;
        padding-right: 3rem;
      }

      .photo {
        padding: 0.5rem;

        @media screen and (min-width: $large) {
          width: 14.8rem;
        } 
      }

      .title {
        
        font-weight: 700;

        @media screen and (min-width: $medium) {
          text-align: left;
          padding-left: 1rem;
        }
    
        h1 {
          font-size: 2rem;
          margin: 0;
        }
        
        .position {
          color: $blue;
          font-size: 1.3rem;
        }
      }

      .introduction {
        color: $grey;
        font-style: italic;
      }
    }

    &-side {
        
      @media screen and (min-width: $large) {
        padding-left: 1.96rem;
      }

      .basic-info {
        color: $grey;

        .link-to-cv {
          display: none;
        }
      }
    } 
  }

  .main {

    &-main {
      @media screen and (min-width: $medium) {
        padding-right: 3rem;
      }
    }

    &-side {
      @media screen and (min-width: $large) {
        padding-left: 1.96rem;
      }
    }

    ul {
      margin-bottom: 0;
    }
  }

  .consent {
    color: $grey;
    padding-left: 1rem;
    font-size: 0.9rem;
  }
}

.entry {
  padding-left: 1rem;

  &-position {
    font-weight: 700;
  }

  &-company {
    color: $blue;
  }

  &-date {
    color: $grey;
  }
  
  &-description {
    padding-left: 1rem;
  }

  a.block {
    display: block;
    width: 100%;
  }
}

.side-line{
  border-left: 0.2rem solid $blue;
}

.skills {
  padding-left: 1rem;
}

.skill {
  display: inline-block;
  border: 0.12rem solid $blue;
  color: $blue;
  padding: 0.4rem 1rem;
  text-align: center;
  border-radius: 1rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

.spacer-05 {
  height: 0.5rem;
  width: 100%;
}

.spacer-1 {
  height: 1rem;
  width: 100%;
}


.spacer-2 {
  height: 2rem;
  width: 100%;
}


.spacer-3 {
  height: 3rem;
  width: 100%;
}